#pic{
    float:left;
    border-radius: 50%;
    background-color: black;
    border-radius: 50%;
    width: 200px;
    position: center;
}
.nav li {
    display: inline-block;
    margin: 2%;
  } 
  /* Style the navigation bar */
  .nav {
    width: 100%;
    background-color:black;
    overflow: auto;
    position: sticky;
  }
  
  
  .nav a:hover {
    background-color:gainsboro;
  }
  .pik{
      margin-top: px;
  }
  #pizzaDetails{
    display: none;
    cursor: pointer;
    text-decoration:underline;
    color: aqua;
    font-size:20px;
    }
    #pizzaDetail{
    display: none;
    }
    #deliver{
    display: none;
    }
    #pickup{
    display: none;
    }
    #checkout{
    display: none;
    }
    #Cost{
    text-align: center;
    margin-top: 5%;
    }
    .contact-overlay {
        background-image: url("../images/image\ 3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }
      
      .click-me{
        color: white;
      
      }
      .btn click-me{
          background-color: chartreuse;
      }
      button:hover:before{
        width: 200%;
        height: 300px;
      }
      button:hover{
        border: 3px dotted #33aa77;
        color:palegoldenrod;
        background-color: peachpuff;
      }