#pic{
    float:left;
    border-radius: 50%;
    background-color: black;
    border-radius: 50%;
    width: 200px;
    position: center;
}
.nav li {
    display: inline-block;
    margin: 2%;
  } 
  /* Style the navigation bar */
  .nav {
    width: 100%;
    background-color:black;
    overflow: auto;
    position: sticky;
  }
  
  
  .nav a:hover {
    background-color:gainsboro;
  }
  .pik{
      margin-top: 190px;
  }
  #pizzaDetails{
    display: none;
    cursor: pointer;
    text-decoration:underline;
    color: aqua;
    font-size:20px;
    }
    #pizzaDetail{
    display: none;
    }
    #deliver{
    display: none;
    }
    #pickup{
    display: none;
    }
    #checkout{
    display: none;
    }
    #Cost{
    text-align: center;
    margin-top: 5%;
    }